.question-section {
    margin: 80px 0px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.btn-google {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    background-color: #BBAEFE;
}